<h1>Article</h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url(:medium) %>

  <% end %>
</p>
Title:<%= @article.title %> <br>

Body: <%= @article.body %> <br> <br>

Author: <%= @article.creator %>
<ul id="article">
  <% if logged_in? %>
      <% if @article.creator == current_user.username %>
          <li>
            <%= link_to 'Update', edit_article_path(@article) %>
          </li>
          <li>
            <%= link_to 'Destroy', article_path(@article), method: :delete, data: {confirm: 'Really delete the article?'} %>
          </li>
      <% end %>
  <% end %>
  <li>
    <%= link_to 'Return to the  article list', articles_path %>
  </li>
  <li>
    <%= link_to 'Return to the Tag list', tags_path %>
  </li>
</ul>
<% if logged_in? %>
    <%= render partial: 'comments/form' %>
<% end %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
